
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-21-gGH {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #0a0b10;

  .group-29-e6d {
    width: 144.2rem;
    height: 107.3rem;
    position: relative;
    flex-shrink: 0;

    .layer-0-1-8pR {
      position: relative;
      left: 0;
      top: 0;
      background-size: 99.354% 93.431%;
      background-position: 0.4655rem -0.6711rem;
      background-image: url('REPLACE_IMAGE:f39e72bace58a80654743efbaf6495cbda9d5b12');
      width: 144rem;
      height: 88.4rem;
    }
    .layer-2-1-7wF {
      width: 144rem;
      height: 50.7rem;
      position: absolute;
      left: 0.2rem;
      top: 51.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .group-1-1Fw {
      padding: 3.5rem 17.35rem 6.8rem 6.75rem;
      left: 0;
      top: 0;
      align-items: center;
      background: linear-gradient(180deg, #000000 -70.59%, rgba(0, 0, 0, 0) 100%);
      box-sizing: border-box;
      width: 144rem;
      height: 14.1rem;
      position: absolute;
      display: flex;

      .firas-CrD {
        margin-right: 39.55rem;
        text-align: center;
        font-size: 3.1rem;
        line-height: 1.2125;
        flex-shrink: 0;
        font-weight: 800;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .home-RU5 {
        margin: 1.3rem 10.6rem 0rem 0rem;
        font-size: 1.5rem;
        flex-shrink: 0;
        text-align: center;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .projects-g97 {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 1.3rem 10.35rem 0rem 0rem;
        text-align: center;
        white-space: nowrap;
      }
      .skills-vZF {
        text-align: center;
        font-weight: 800;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.3rem 8.65rem 0rem 0rem;
        font-size: 1.5rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .about-nbT {
        font-weight: 800;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin: 1.3rem 10.45rem 0rem 0rem;
      }
      .contact-EyF {
        margin-top: 1.3rem;
        font-weight: 800;
        line-height: 1.2125;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.5rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .firas-3fo {
      color: #ffffff;
      white-space: nowrap;
      width: 97.7rem;
      line-height: 1.2125;
      left: 23rem;
      top: 25.9rem;
      text-align: center;
      font-size: 33.2rem;
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      height: 40.3rem;
      position: absolute;
    }
    .ux-ui-deigner-Vnh {
      height: 8.8rem;
      position: absolute;
      left: 22.65rem;
      text-align: center;
      font-size: 7.2rem;
      letter-spacing: 3.456rem;
      white-space: nowrap;
      width: 97.6rem;
      top: 24.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .alsam-tpq {
      font-size: 3rem;
      font-family: Inter, 'Source Sans Pro';
      height: 3.7rem;
      position: absolute;
      left: 21.15rem;
      font-weight: 800;
      line-height: 1.2125;
      letter-spacing: 6.36rem;
      color: #ffffff;
      white-space: nowrap;
      width: 42.9rem;
      top: 59.1rem;
      text-align: center;
    }
    .rectangle-169-kc9 {
      left: 0;
      top: 83.8rem;
      background: linear-gradient(180deg, #0a0b10 25.11%, rgba(0, 0, 0, 0) 119.15%);
      width: 144rem;
      height: 23.5rem;
      position: absolute;
    }
    .aree-pru {
      font-size: 3rem;
      line-height: 1.2125;
      letter-spacing: 8.58rem;
      font-family: Inter, 'Source Sans Pro';
      height: 3.7rem;
      text-align: center;
      left: 81.5rem;
      top: 59.1rem;
      font-weight: 800;
      color: #ffffff;
      white-space: nowrap;
      width: 42.4rem;
      position: absolute;
    }
    .frame-1-geD {
      vertical-align: top;
      width: 114.0003rem;
      height: 75.5003rem;
      position: absolute;
      left: 15rem;
      top: 9.7rem;
      object-fit: contain;
    }
    .layer-1-1-ZT7 {
      object-fit: cover;
      vertical-align: top;
      width: 18.5rem;
      height: 46.4rem;
      position: absolute;
      left: 63.8rem;
      top: 47.4rem;
    }
    .asteroid1-2-eUZ {
      left: 68.2rem;
      top: 61.7rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.1rem;
      height: 0.1rem;
      position: absolute;
    }
    .asteroid1-3-vgy {
      opacity: 0;
      width: 0.0616rem;
      height: 0.0616rem;
      position: absolute;
      left: 68.1714rem;
      top: 62.0327rem;
      object-fit: cover;
      vertical-align: top;
    }
    .asteroid1-4-Rdj {
      opacity: 0;
      width: 0.0338rem;
      height: 0.0338rem;
      position: absolute;
      left: 67.9119rem;
      top: 62.32rem;
      object-fit: cover;
      vertical-align: top;
    }
    .asteroid1-5-wMB {
      position: absolute;
      left: 68.7184rem;
      top: 62.1013rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.0338rem;
      height: 0.0338rem;
    }
    .asteroid-6-emP {
      position: absolute;
      left: 68.9rem;
      top: 61.8rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.1rem;
      height: 0.1rem;
    }
    .asteroid-8-NBb {
      left: 67.7rem;
      top: 61.7rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0;
      width: 0.2rem;
      height: 0.3rem;
      position: absolute;
    }
  }
  .auto-group-fe2m-gTB {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.544rem 0rem 0rem 3.844rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-qfkm-nm7 {
      margin: 0rem 19.7rem 30.3rem 0rem;
      width: calc(100% - 19.7rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-xahx-tp9 {
        margin-right: 8.7rem;
        width: 41.156rem;
        height: 59.9563rem;
        position: relative;
        flex-shrink: 0;

        .about-pxh {
          height: 53.9rem;
          position: absolute;
          left: 24.556rem;
          top: 6.0563rem;
          text-align: center;
          font-weight: 800;
          width: 16.6rem;
          font-size: 11.1rem;
          line-height: 1.2125;
          letter-spacing: 7.77rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .model-6-2-j45 {
          width: 32.312rem;
          height: 30.3125rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .i-am-a-seasoned-ux-ui-designer-with-a-solid-foundation-in-software-engineering-holding-a-bachelors-degree-in-the-field-with-a-rich-professional-journey-spanning-10-years-i-bring-a-unique-blend-of-technical-expertise-and-design-sensibility-to-my-work-in-addition-to-my-software-engineering-background-i-have-accumulated-over-13-years-of-experience-in-graphic-design-further-enhancing-my-ability-to-create-visually-appealing-and-user-friendly-interfaces-my-career-has-been-marked-by-a-passion-for-crafting-seamless-user-experiences-informed-by-both-the-principles-of-software-engineering-and-the-aesthetics-of-graphic-design-i-thrive-on-the-intersection-of-technology-and-creativity-consistently-delivering-innovative-solutions-that-marry-form-and-function-sAH {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 14.1563rem;
        max-width: 70.6rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.625;
      }
    }
    .projects-4PB {
      color: #ffffff;
      white-space: nowrap;
      font-size: 9.5rem;
      letter-spacing: 2.85rem;
      font-weight: 800;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.744rem 8.2rem 0rem;
      text-align: center;
    }
    .auto-group-vsrq-m2h {
      align-items: center;
      backdrop-filter: blur(1.7rem);
      background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 0rem 7.8rem 4rem 6.456rem;
      box-sizing: border-box;
      padding: 0.6rem 5.2rem 0.6rem 0.6rem;
      width: calc(100% - 14.256rem);
      height: 32.4rem;
      display: flex;

      .mask-group-Rsw {
        flex-shrink: 0;
        margin-right: 7.4rem;
        width: 51.1rem;
        height: 31.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-9nu1-AqX {
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.1rem 0rem 3.5rem 0rem;
        height: calc(100% - 6.6rem);
        display: flex;

        .energygov-HQM {
          margin-bottom: 1.9rem;
          font-size: 4.7rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-bvq {
          line-height: 1.619047619;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 61.6rem;
          font-size: 2.1rem;
          font-weight: 300;
        }
      }
    }
    .auto-group-bgjv-8JV {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 1.488rem 6.456rem;
      width: 134.6867rem;
      height: 71.3125rem;

      .model-7-dW9 {
        vertical-align: top;
        width: 34.2867rem;
        height: 43.1125rem;
        position: absolute;
        left: 100.4rem;
        top: 28.2rem;
        object-fit: cover;
      }
      .rectangle-170-Yd7 {
        box-sizing: border-box;
        backdrop-filter: blur(1.7rem);
        background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
        border-radius: 4rem;
        width: 125.9rem;
        cursor: pointer;
        left: 0;
        height: 32.4rem;
        position: absolute;
        top: 0;
      }
      .mask-group-22V {
        object-fit: contain;
        vertical-align: top;
        width: 51.1rem;
        height: 31.2rem;
        position: absolute;
        left: 0.6rem;
        top: 0.6rem;
      }
      .rebuildingtogethercom-jhb {
        position: absolute;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        color: #ffffff;
        white-space: nowrap;
        width: 57.3rem;
        height: 4.9rem;
        left: 59.1rem;
        top: 3.3rem;
        font-size: 4rem;
        font-weight: 800;
      }
      .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-2wb {
        width: 61.6rem;
        height: 17rem;
        left: 59.1rem;
        top: 10.3rem;
        font-size: 2.1rem;
        font-weight: 300;
        color: #ffffff;
        position: absolute;
        line-height: 1.619047619;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-171-E25 {
        left: 0;
        backdrop-filter: blur(1.7rem);
        background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
        width: 125.9rem;
        height: 32.4rem;
        position: absolute;
        top: 36.4rem;
        box-sizing: border-box;
        border-radius: 4rem;
      }
      .mask-group-WEV {
        vertical-align: top;
        width: 51.1rem;
        height: 31.2rem;
        position: absolute;
        left: 0.6rem;
        top: 37rem;
        object-fit: contain;
      }
      .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-RcM {
        font-family: Inter, 'Source Sans Pro';
        width: 61.6rem;
        position: absolute;
        font-size: 2.1rem;
        font-weight: 300;
        color: #ffffff;
        height: 17rem;
        left: 59.1rem;
        top: 47.7rem;
        line-height: 1.619047619;
      }
      .energygov-peV {
        position: absolute;
        left: 59.1rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 31.1rem;
        height: 5.7rem;
        top: 40.1rem;
        font-size: 4.7rem;
        font-weight: 800;
        line-height: 1.2125;
      }
    }
    .auto-group-uvyx-LMw {
      align-items: center;
      backdrop-filter: blur(1.7rem);
      border-radius: 4rem;
      flex-shrink: 0;
      width: calc(100% - 14.256rem);
      box-sizing: border-box;
      padding: 0.6rem 5.2rem 0.6rem 0.6rem;
      height: 32.4rem;
      display: flex;
      background: linear-gradient(0.26deg, rgba(22, 28, 46, 0.5699999928) 99.78%, rgba(35, 35, 44, 0.5699999928) 220.85%);
      margin: 0rem 7.8rem 34.28rem 6.456rem;

      .mask-group-1ys {
        height: 31.2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 7.4rem;
        width: 51.1rem;
      }
      .auto-group-os85-9aH {
        margin: 2.7rem 0rem 4.5rem 0rem;
        height: calc(100% - 7.2rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rebuildingtogethercom-UcZ {
          flex-shrink: 0;
          margin-bottom: 2.1rem;
          font-size: 4rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .for-my-rice-ux-ui-boot-camp-project-on-energygov-i-tested-the-website-with-users-to-find-and-fix-any-issues-after-identifying-challenges-i-got-inspiration-from-other-sites-to-improve-the-user-experience-i-simplified-the-sites-structure-through-wireframing-for-a-cleaner-look-1Mb {
          font-weight: 300;
          line-height: 1.619047619;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 61.6rem;
          font-size: 2.1rem;
        }
      }
    }
    .auto-group-xzfo-yhj {
      font-size: 2.3rem;
      line-height: 1.2125;
      display: flex;
      box-shadow: 1.1rem -0.6rem 0.4rem rgba(0, 0, 0, 0.4699999988);
      height: 23.4945rem;
      text-align: center;
      backdrop-filter: blur(0.35rem);
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      justify-content: center;
      box-sizing: border-box;
      background: linear-gradient(180deg, #d9d9d9 -0%, rgba(16, 159, 240, 0.5400000215) 100%);
      margin: 0rem 62rem 0rem 56.356rem;
      width: calc(100% - 118.356rem);
      font-weight: 500;
      white-space: nowrap;
      align-items: center;
      border-radius: 4rem;
    }
  }
}
